{{!
    @template theme_edvorya/components/branding_head

    Central client branding overrides. Expected context is theme_edvorya\output\branding.
}}
{{#faviconurl}}
<link rel="icon" href="{{{ faviconurl }}}">
{{/faviconurl}}
<style id="theme-edvorya-client-tokens">{{{ tokenscss }}}</style>
